.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
/* Style the green button */
.green-button {
    background-color: green;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  /* Style the red button */
  .red-button {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  /* Hover effect for both buttons */
  .green-button:hover{
    background-color: rgb(89, 179, 100);
  }
  .red-button:hover {
    background-color: rgb(105, 105, 168);
  }